*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    list-style: none;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
}

body{

    background-image: #ffffff;
}

.conteiner{

    display:flex;
    flex-flow: column nowrap;
    align-content: space-evenly;
    gap:10px;
    background-color: #ffffff;
    margin:5px;
}

/* Seccion 1 */     

.principal{
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: #22334f;

}

    header {
        display: flex;
        margin:10px;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-color: #f7f6f9;

    }

        .logo{
            padding: 100px;
            margin-left: 30px;
            background-color: #46e7b1;
            background-image: url("C:/Users/User/Desktop/Git Hub-Repos/Proyect-ecommerce-Frontend/imagenes/logo2.jpeg");
            background-repeat: no-repeat;
            background-size:contain;
            background-position:center;
            background-color:   #ebfbf3 

        } 

        .redes{
            margin-left: 20px;
            margin-bottom: 10px;
            background-color: #f7f6f9;
            display: flex;
            flex-flow: row nowrap;
            justify-content:center;
            gap: 20px;

        }

    nav {
        margin: 0px 10px 10px 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        background-color: #f7f6f9;
    }

       .nav_info{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            column-gap: 30px;
            padding: 20px;
        
        }

            .ul_categoria{

                font-family: 'Montserrat', sans-serif;
                font-weight:bold;
                font-size:medium;
                text-align: center;
                color: #000000;

            }

                .nav_categoria{

                    display: flex;
                    flex-direction: row nowrap;
                    justify-content: center;
                    align-items: center;
                    column-gap: 10px;
                    padding: 10px;

                }

                .nav_categoria:hover{

                    background-color:#46e7b1;
                    border-radius: 10%;
                }

                .productos{

                display: flex;
                flex-flow: column nowrap;
                gap: 10px;

                }


                    .log_prod{

                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        column-gap: 10px;
                        font-size: medium;
                        font-family: 'Roboto Slab', serif;
                        font-weight: bold;
                    }

                        
                    .list_product{
                        margin-top: 25px;
                        padding: 10px;
                        display:none;
                        flex-flow: column nowrap;
                        row-gap: 30px;
                        justify-content: space-around;
                        background-color: #fafafa;
                        position: absolute;
                        z-index: 1;
                        border: solid 2px  #22334f;


                    }

                        .product{

                            font-family: 'Montserrat', sans-serif;
                            font-weight:bold;
                            font-size:small;
                 
                        }


.ban_empresa{
    background-image: url("C:/Users/User/Desktop/Git Hub-Repos/Proyect-ecommerce-Frontend/imagenes/ban_empresa1.jpeg") ;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 280px;
    animation-name: ban_empresa;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
                    
    }
                    
    @keyframes ban_empresa {
                        
        0% {
                        
            background-image: url("C:/Users/User/Desktop/Git Hub-Repos/Proyect-ecommerce-Frontend/imagenes/ban_empresa1.jpeg")
                    }

        30% {
                        
            background-image: url("C:/Users/User/Desktop/Git Hub-Repos/Proyect-ecommerce-Frontend/imagenes/ban_empresa1.jpeg")
                    }

                        
        100%{
                        
            background-image: url("C:/Users/User/Desktop/Git Hub-Repos/Proyect-ecommerce-Frontend/imagenes/ban_empresa2.jpeg")
                    }
                                
        }

/* Seccion 2 */                  
.secundaria{

    display: flex;
    flex-flow: column nowrap;
    height: auto;
    background-color: #22334f;
    column-gap: 10px;

}


    .secu_content{
        padding: 10px;
        margin: 10px;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content:space-between;
        background-color:  #ffffff;
    }

        .novedades{
            flex-basis: 40%;
            align-self: center;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            row-gap: 20px;
            background-color: #ffffff;
            border-radius: 7%;
            border: #22334f solid 6px;
        }

        .nov_titulo{
            font-family: 'Montserrat', sans-serif;
            font-weight:bold;
            font-size:xx-large;
            align-self: center;
            margin-top: 20px;
            margin-bottom: 20px;
            background-color:#ffffff;

        }

            .nov_sup, .nov_inf{
                display: flex;
                flex-flow: row nowrap;
                margin: 10px 10px 20px 20px;
                justify-content: space-around;
                background-color:  #ffffff;
            }

            .novedad_1, .novedad_2, .novedad_3, .novedad_4{
                flex-basis: 50%;
                display: flex;
                flex-flow: column nowrap;
                row-gap: 5px;
                background-color:  #ffffff;
                justify-content:flex-start;
                align-content: flex-start;
        
            }

            .tipo_product{
                align-self: center;
                font-family: 'Montserrat', sans-serif;
                font-weight:bold;
                font-size:small;
        
        
            }

            .nom_product{
                align-self: center;
                font-family: 'Montserrat', sans-serif;
                font-weight:bold;
                font-size:large;
        
            }

            .nov_prote{
                align-self: center;
                padding: 100px;
 
                background-image: url("C:/Users/User/Desktop/Git Hub-Repos/Proyect-ecommerce-Frontend/imagenes/proteina.jpg");
                background-repeat: no-repeat;
                background-size:contain;
                background-position:center;
                transition: 1.5s ease;
                -webkit-transition: 1.5s ease;
            }

            .nov_prote:hover{
                transform : scale(1.05);
                -webkit-transform : scale(1.05);
            }


            
            .nov_amino {
                align-self: center;
                padding: 100px;
    
                background-image: url("C:/Users/User/Desktop/Git Hub-Repos/Proyect-ecommerce-Frontend/imagenes/amino.jpg");
                background-repeat: no-repeat;
                background-size:contain;
                background-position:center;
                transition: 1.5s ease;
                -webkit-transition: 1.5s ease;
            }

            .nov_amino:hover{
                transform : scale(1.05);
                -webkit-transform : scale(1.05);
            }

            
            .nov_gainer {
                align-self: center;
                padding: 100px;
                background-color:  #ebfbf3;
                background-image: url("C:/Users/User/Desktop/Git Hub-Repos/Proyect-ecommerce-Frontend/imagenes/gainer.jpg");
                background-repeat: no-repeat;
                background-size:contain;
                background-position:center;
                transition: 1.5s ease;
                -webkit-transition: 1.5s ease;
            }

            .nov_gainer:hover{
                transform : scale(1.05);
                -webkit-transform : scale(1.05);
            }
            
            .nov_creatina{
                align-self: center;
                padding: 100px;
                background-image: url("C:/Users/User/Desktop/Git Hub-Repos/Proyect-ecommerce-Frontend/imagenes/creatina.jpg");
                background-repeat: no-repeat;
                background-size:contain;
                background-position:center;
                transition: 1.5s ease;
                -webkit-transition: 1.5s ease;
            }

            .nov_creatina:hover{
                transform : scale(1.05);
                -webkit-transform : scale(1.05);
            }




        .banerlat_iz{
            flex-basis: 20%;
       
            background-image: url("C:/Users/User/Desktop/Git Hub-Repos/Proyect-ecommerce-Frontend/imagenes/banner1.jpg");
            background-repeat: no-repeat;
            background-size:contain;
            background-color:   #ffffff;
            background-position: center;
            align-self: stretch;

        }

        .banerlat_der{
            flex-basis: 20%;
      
            background-color:   #ffffff;
            background-image: url("C:/Users/User/Desktop/Git Hub-Repos/Proyect-ecommerce-Frontend/imagenes/banner2.jpg");
            background-repeat: no-repeat;
            background-size:contain;
            background-position: center;
            align-self: stretch;
            
        }



/* Seccion 3 */


.tercera{

    display:none;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    row-gap: 20px;
    background-color: #c5fae8;

}
    .infocontacto{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .contactanos{
        
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        text-align: center;
        row-gap: 10px;
    }

    .icon{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        row-gap: 10px;
        size: 5px;

    }
    .redesfooter{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    .copyright{
        align-self: center;
    }


    /* Seccion 4 */

.cuarta{

        display: none;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 20px;
        align-content: stretch;
        background-color:  #8bebc9;;
    }


    .formulario {
        background-color: #ebfbf3;
        align-self: flex-start;
        height: auto;
        order: 2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

    }

        .formulario h1{
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            margin-top: 10px;
        }

        .formulario input{

            margin:10px;
            padding-left:5px;
            padding-top:0.5px;
            padding-bottom:0.5px;

        }
        

        label.error {
            color: red;
            font-size: 1rem;
            display: block;
            margin-top: 5px;
        }

        input.error, textarea.error {
            border: 2px solid red;
            font-weight: 300;
            color: red;
        }

            #consulta{

                width: 250px;
                height: 100px;
            }

        .formulario button {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap:5px;
        padding: 2px;
        margin-bottom: 10px;
        border: 2px solid #1f407d;
        border-radius: 15%;
        background-color: #d7fff2;

        }

        .formulario button:hover{

            background-color: #46e7b1;

        }


    .mapa{
            order: 1;
            background-color: #8bebc9;
        }
        
        
            .mapa iframe{
            width: 800px;
            height: 400px;
        
            }



/* FOOTER */

footer {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color:  #22334f;
    row-gap: 30px;
}

    .foot_info{
        padding: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items:  baseline;

    }


        .link_info{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            background-color:  #22334f;
            gap:20px;
    
        }

            .foot_titulo{
                color: #f7f6f9;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-size:larger;
                align-self: flex-start;
            }

            .link_contacto{
                display: flex;
                flex-flow: row nowrap;
                column-gap: 10px;
            }




                h5{

                    color: #f7f6f9;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif; ;

                }

                #contacto_simbolo{

                    color: #f7f6f9;
                }

            

    .copy{
        align-self:baseline;
        color: #f7f6f9;
        text-align: center;
        font-family: 'Montserrat', sans-serif; ;

    }

    

@media (min-width: 768px) and (max-width: 1210px){
    
   
    .formulario {
            background-color: #ebfbf3;
            align-self: center;
            flex-grow: 1;
            margin: 10px;
            height: auto;
            order: 2;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;

        }

        .localizacion{

            flex-direction: row;
        }

    .mapa iframe{
        width: 700px;
        height: 500px;
        margin:5px
            
            }
}


@media (min-width:320px) and (max-width: 768px){

    nav ul{

        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin:10px;
   
    }

        #buscador{
            width: 200px;
        }


        nav ul li{

            padding-top: 10px ;

            padding-bottom: 10px ;
        }


    .secundaria{

        flex-flow: column nowrap;
    }

        .infoempresa {
            display: none;
        }

   

    .formulario {
            background-color: #ebfbf3;
            align-self: center;
            height: auto;
            order: 2;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;

        }


    .localizacion{

            flex-direction: column;
        }
        

    .mapa iframe{
        width: 250px;
        height: 250px;
        margin:0px
            
            }
}

    .micuenta{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 10 px;


    }





