*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    list-style: none;
    box-shadow: none;
    box-sizing: border-box;

}

body{

    background-image: linear-gradient(to bottom,#396ed1, #1f407d, #0f244a);
}

.conteiner{

    display:flex;
    flex-flow: column nowrap;
    align-content: space-evenly;
    gap:10px;
    background-color: #a5ebd3;
    margin:5px;

}

.principal{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-image: linear-gradient(to bottom, #baf5e2, #7bf2ca);

}

    header {
        display: flex;
        margin: 10px 0px 10px 0px;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        background-color: #ebfbf3;

    }

        .logo{
            padding-right: 120px;
            padding-left: 120px;
            padding-top: 50px;
            padding-bottom: 50px;
            margin-left: 30px;
            background-image: url("logo.jpg");
            background-repeat: no-repeat;
            background-size:auto;
            background-position:center;
            background-color:   #ebfbf3 

        } 

        .redes{
            margin-left: 20px;
            margin-bottom: 10px;
            background-color: #ebfbf3;
            display: flex;
            flex-flow: row nowrap;
            justify-content:space-around;

        }

            .log_redes{
                padding: 20px;
                margin-left: 20px;
                margin-right: 20px;
            }

    nav {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        background-color: #ebfbf3;
    }

        nav .nav_info{
            display: flex;
            flex-flow: row nowrap;
            padding: 10px;
        
        }

            nav ul .nosotros{

                display: flex;
                flex-direction: row nowrap;
                justify-content: center;
                align-items:stretch;
                column-gap: 5px;
                cursor: pointer;
            }

                #log_home{

                    color: black;
                }
                

            nav ul .contact{

                    display: flex;
                    flex-direction: row nowrap;
                    justify-content: center;
                    align-items:stretch;
                    column-gap: 5px;
                    cursor: pointer;
                }

            nav ul li{
                margin-right: 10px;
                margin-left: 30px;

            }

                nav ul li .logo2{

                    display:flex;
                    flex-grow: row nowrap;
                    row-gap: 20px;
                    column-gap: 10px;
                    
                    
                }

                    nav ul li a h4 {
                        background-color: #ebfbf3;
                        font-size: larger;
                        color: #153063 ;
                        font-family:'Roboto Slab', serif;;
                        font-weight: bold;
                        order:2;
                    }

                   
                        .list_product{

                                display:none;

                                flex-flow: column nowrap;

                                row-gap: 30px;

                                justify-content: space-around;

                                align-items: flex-start;

                                background-color: #46e7b1;

                                position: absolute;

                                z-index: 1;


                            }

                                #product{
                                    margin: 0px;
                                    font-size: small;
                                    color: #153063 ;
                                    font-family:'Roboto Slab', serif;;
                                    font-weight: bold;
                                    cursor: pointer;
                                }

/* Seccion 2 */
                       
.secundaria{

    display: flex;
    flex-flow: column nowrap;
    height: auto;
    background-color: #a5ebd3;
    margin: 10px;
    column-gap: 10px;

}

    .secu_content{
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content:space-evenly;
        column-gap: 10px;
    }

    .novedades{

        flex-basis: 40%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        row-gap: 20px;
    }

    .nov_titulo{

        align-self: center;
    }

        .nov_sup, .nov_inf{
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-content: center;
            column-gap: 20px;
        }

        .novedad_1{
            height: 200px;
            width: 200px;
            align-self: center;
            background-color: rgb(47, 109, 163);
            background-image: url("proteina.jpg");
            background-repeat: no-repeat;
            background-size:cover;
            background-position:center;

        }

        
        .novedad_2 {
            height: 200px;
            width: 200px;
            align-self: center;
            background-color: rgb(107, 139, 167);
            background-image: url("creatina.jpg");
            background-repeat: no-repeat;
            background-size:cover;
            background-position:center;
        }

        
        .novedad_3 {
            height: 200px;
            width: 200px;
            align-self: center;
            background-color: rgb(44, 103, 154);
            background-image: url("amino.jpg");
            background-repeat: no-repeat;
            background-size:contain;
            background-position:center;
        }

        
        
        .novedad_4{
            height: 200px;
            width: 200px;
            align-self: center;
            background-color: aliceblue;
            background-image: url("ganador de peso.jpg");
            background-repeat: no-repeat;
            background-size:contain;
            background-position:center;
        }

    .banerlat_iz{
        flex-basis: 20%;
        background-image: url("banner1.jpg");
        background-repeat: no-repeat;
        background-size:contain;
        align-self: stretch;
        animation-name: propaganda_iz;
        animation-duration: 5s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        position: sticky;



    }

    @keyframes propaganda_iz {

        from {background-image: url("banner2.jpg");}

        to {background-image:(url("banner3.jpg"));}


        
    }

    .banerlat_der{
        flex-basis: 20%;
        background-image: url("banner2.jpg");
        background-repeat: no-repeat;
        background-size:contain;
        align-self: stretch;
        animation-name: propaganda_der;
        animation-duration: 7s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        position: sticky;
    }

    @keyframes propaganda_der {

        from {background-image: url("banner1.jpg");}

        to {background-image:(url("banner3.jpg"));}


        
    }


/* Seccion 3 */

.tercera{

    display:none;
}


.infoempresa {
    display: flex;
    flex-flow: column ;
    background-color:  #ebfbf3 ;
    flex-basis: 100%;
    padding: 40px;
}


    .infoempresa, .p{
        font-family: 'Montserrat', sans-serif;
        font-weight:bold;
        font-size:large;
        text-align: center;
        line-height: 35px;
        color: #153063;
        margin: 5px 10px 5px 10px;
    }

    



/* Seccion 4 */

.cuarta{

    display: none;
}


.formulario {
    flex-basis: 20%;
    background-color: #ebfbf3;
    align-self: flex-start;
    margin: 10px;
    height: auto;
    order: 2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}

    .formulario h1{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin-top: 10px;
    }

    .formulario input{

        margin:10px;
        padding-left:5px;
        padding-top:0.5px;
        padding-bottom:0.5px;

    }
    

    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 2px solid red;
        font-weight: 300;
        color: red;
    }

        #consulta{

            width: 250px;
            height: 100px;
        }

    .formulario button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap:5px;
    padding: 2px;
    margin-bottom: 10px;
    border: 2px solid #1f407d;
    border-radius: 15%;
    background-color: #d7fff2;

    }

    .formulario button:hover{

        background-color: #46e7b1;
        cursor: pointer;
    }


.mapa{
        order: 1;
        background-color: #ebfbf3;
    }
    
    
        .mapa iframe{
        width: 1000px;
        height: 450px;
        margin:10px
        
        }



/* FOOTER */


        .localizacion{
            align-self: center;
            margin:10px;
            flex-basis: 5%;
            order: 3;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            background-color: #ebfbf3;
            gap:20px;
    
        }
    
    
        .localizacion .contacto{
            margin-top: 5px;
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
    
        }
                .localizacion .contacto a{
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 10px;
        
                }
    
                    .localizacion .contacto a h3{
    
                        font-family: 'Montserrat', sans-serif;
                        font-weight:bold;
                        color: #000000;
                        font-size:medium;
                    }
    
                    .localizacion .contacto a i{
                        color: #000000;
                    }
    
                    #log_productos{
                        margin-bottom: 2px;
                    }
    


@media (min-width: 768px) and (max-width: 1210px){
    
    footer{

        flex-direction: column;
        gap:10px;
    }

    .formulario {
            background-color: #ebfbf3;
            align-self: center;
            flex-grow: 1;
            margin: 10px;
            height: auto;
            order: 2;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;

        }

        .localizacion{

            flex-direction: row;
        }

    .mapa iframe{
        width: 700px;
        height: 500px;
        margin:5px
            
            }
}


@media (min-width:320px) and (max-width: 768px){

    nav ul{

        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin:10px;
   
    }

        #buscador{
            width: 200px;
        }


        nav ul li{

            padding-top: 10px ;

            padding-bottom: 10px ;
        }


    .secundaria{

        flex-flow: column nowrap;
    }

        .infoempresa {
            display: none;
        }

    footer{

        flex-direction: column;
    }

    .formulario {
            background-color: #ebfbf3;
            align-self: center;
            height: auto;
            order: 2;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;

        }


    .localizacion{

            flex-direction: column;
        }
        

    .mapa iframe{
        width: 250px;
        height: 250px;
        margin:0px
            
            }
}





