*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    list-style: none;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
}

body{

    background-image: #ffffff;
}

.conteiner{

    display:flex;
    flex-flow: column nowrap;
    align-content: space-evenly;
    gap:10px;
    background-color: #ffffff;
    margin:5px;

}

/* Seccion 1 */     

.principal{
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: #22334f;

}

    header {
        display: flex;
        margin:10px;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-color: #f7f6f9;

    }

        .logo{
            padding: 100px;
            margin-left: 30px;
            background-color: #46e7b1;
            background-image: url("C:/Users/User/Desktop/Git Hub-Repos/Proyect-ecommerce-Frontend/imagenes/logo2.jpeg");
            background-repeat: no-repeat;
            background-size:contain;
            background-position:center;
            background-color:   #ebfbf3 

        } 

        .redes{
            margin-left: 20px;
            margin-bottom: 10px;
            background-color:#f7f6f9;
            display: flex;
            flex-flow: row nowrap;
            justify-content:center;
            gap: 20px;

        }

    nav {
        margin: 0px 10px 10px 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        background-color: #f7f6f9;
    }

       .nav_info{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            column-gap: 30px;
            padding: 20px;
        
        }

            .ul_categoria{

                font-family: 'Montserrat', sans-serif;
                font-weight:bold;
                font-size:medium;
                text-align: center;
                color: #000000;

            }

                .nav_categoria{

                    display: flex;
                    flex-direction: row nowrap;
                    justify-content: center;
                    align-items: center;
                    column-gap: 10px;
                    padding: 10px;

                }

                .nav_categoria:hover{

                    background-color:#46e7b1;
                    border-radius: 10%;
                }

                .productos{

                display: flex;
                flex-flow: column nowrap;
                gap: 10px;

                }


                    .log_prod{

                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        column-gap: 10px;
                        font-size: medium;
                        font-family: 'Roboto Slab', serif;
                        font-weight: bold;
                    }

                        
                    .list_product{
                        margin-top: 25px;
                        padding: 10px;
                        display:none;
                        flex-flow: column nowrap;
                        row-gap: 30px;
                        justify-content: space-around;
                        background-color: #f7f6f9;
                        position: absolute;
                        z-index: 1;
                        border: solid 2px  #22334f;


                    }

                        .product{

                            font-family: 'Montserrat', sans-serif;
                            font-weight:bold;
                            font-size:small;
                 
                        }

.secundaria{

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin: 10px;
        align-content: baseline;
        background-color:  #22334f;
    }


    .formulario {
        margin: 5px;
        background-color: #22334f ;
        align-self: center;
        flex-basis: 30%;
        height: auto;
        order: 2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border:#f7f6f9 solid 2px;
        border-radius: 5%;

    }

        .titulo{

            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size:xx-large;
            color: #f7f6f9;

        }

        .formulario h1{
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            margin-top: 10px;
        }

        .formulario input{

            margin:10px;
            padding-left:5px;
            padding-top:0.5px;
            padding-bottom:0.5px;

        }
        

        label.error {
            color: red;
            font-size: 1rem;
            display: relative;

        }

        input.error, textarea.error {
            display: relative;
            border: 2px solid red;
            font-weight: 300;
            color: red;
        }

            #consulta{

                width: 250px;
                height: 100px;
            }

        .localizacion{

            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            column-gap: 20px;
        }

            .contacto{

                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                column-gap: 10px;
            }



        .formulario button {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap:5px;
        padding: 2px;
        margin-bottom: 10px;
        border: 2px solid #1f407d;
        border-radius: 15%;
        background-color: #f7f6f9;

        }

        .formulario button:hover{

            background-color: #46e7b1;

        }


    .mapa{
            order: 1;
            background-color: #22334f ;
            padding: 20px;
        }
        
        
            .mapa iframe{
            width: 800px;
            height: 500px;
        
            }



/* FOOTER */

footer {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color:  #22334f;
    row-gap: 30px;


}

    .foot_info{
        padding: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items:  baseline;

    }


        .link_info{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            background-color:  #22334f;
            gap:20px;
    
        }

            .foot_titulo{
                color:#f7f6f9;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-size:larger;
                align-self: flex-start;
            }

            .link_contacto{
                display: flex;
                flex-flow: row nowrap;
                column-gap: 10px;
            }




                h3, h5{

                    color:#f7f6f9;
                    text-align: center;
                    font-family: 'Montserrat', sans-serif; ;

                }

                #contacto_simbolo{

                    color: #f7f6f9;
                }

            

    .copy{
        align-self:baseline;
        color: #f7f6f9;
        text-align: center;
        font-family: 'Montserrat', sans-serif; ;

    }

    

@media (min-width: 768px) and (max-width: 1210px){
    
   
    .formulario {
            background-color: #f7f6f9;
            align-self: center;
            flex-grow: 1;
            margin: 10px;
            height: auto;
            order: 2;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;

        }

        .localizacion{

            flex-direction: row;
        }

    .mapa iframe{
        width: 700px;
        height: 500px;
        margin:5px
            
            }
}


@media (min-width:320px) and (max-width: 768px){

    nav ul{

        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin:10px;
   
    }

        #buscador{
            width: 200px;
        }


        nav ul li{

            padding-top: 10px ;

            padding-bottom: 10px ;
        }


    .secundaria{

        flex-flow: column nowrap;
    }

        .infoempresa {
            display: none;
        }

   

    .formulario {
            background-color: #ebfbf3;
            align-self: center;
            height: auto;
            order: 2;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            gap: 10px;

        }


    .localizacion{

            flex-direction: column;
        }
        

    .mapa iframe{
        width: 250px;
        height: 250px;
        margin:0px
            
            }
}

    .micuenta{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 10 px;


    }




